@model FooBarFootball.Data.Card

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardClub1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardClub1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardLeague1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardLeague1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNation1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNation1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardPosition1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardPosition1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardRarity1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardRarity1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardStyle1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardStyle1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
